<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
      <div class="row text-center text-md-left">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Santana ideas</h5>
          <p>Desarrollo de aplicaciones, escritorio, front an back-end, aplicaciones mobiles
            creacion de Rest Server, Seguridad y consultoria.
          </p>
        </div>


        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-2 ">
          <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Productos</h5>
          <p>
            <a href="#" class="text-white" style="text-decoration:none"> App Developer </a>
          </p>
          <p>
            <a href="#" class="text-white" style="text-decoration:none"> IT Specialist</a>
          </p>
          <p>
            <a href="#" class="text-white" style="text-decoration:none">Rest Server</a>
          </p>

        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contacto</h5>
          <p>
            <i class="bi bi-building mr-3"></i> La romana RD
          </p>

          <p>
            <i class="bi bi-envelope mr-3"></i> Wilkinsantana23@gmail.com
          </p>
          <p>
            <i class="bi bi-phone mr-3"></i> +1 829-839-1644
          </p>
        </div>

        <hr class="mb-4">

        <div class="row aling-items-center">
          <div class="col-md-7 col-lg-8">
            <p>Copyright &copy2021 All rights reserved by:
              <a href="#" style="text-decoration: none;">
                <strong class="text-warning"> IngSantana</strong>
              </a>
            </p>
          </div>

          <div class="col-md-5 col-lg-4">
            <div class="text-center text-md-right">

              <ul class="list-unstyled list-inline">

                <li class="list-inline-item">
                  <a href="https://www.facebook.com/profile.php?id=1359306323" target="_blanck" class="btn-floating btn-sm text-white" style="font-size: 23px;">            
                    <i class="bi bi-facebook">
                    </i>
                  </a>
                </li>

                <li class="list-inline-item">
                  <a href="https://twitter.com/wilkinsantana23" target="_blanck" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="bi bi-twitter">
                    </i>
                  </a>
                </li>

                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/wilkins-santana-12907a160/" target="_blanck" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="bi bi-linkedin">
                    </i>
                  </a>
                </li>

                <li class="list-inline-item">
                  <a href="https://github.com/IngSantana" target="_blanck"  class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="bi bi-github" ></i>
                  </a>
                </li>

                <li class="list-inline-item">
                  <a href="https://www.youtube.com/channel/UCqYw-hfaLi2U4WLqnxW9PUw" target="_blanck" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="bi bi-youtube">
                    </i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </div>

  </footer>
